[Unit]
Description=@APPNAME@

[Service]
PIDFile=/var/run/@APPNAME@.pid
RemainAfterExit=no
ExecStart=/usr/bin/@APPNAME@.sh
User=www-data

[Install]
WantedBy=multi-user.target
